.side-bar{
    background-color: white;
     position: fixed;
     top: 55px;
     left: 0;
     bottom: 0;
     width: 78px;
     z-index: 200;
     padding-top: 5px;
 }
 .sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 8px;
}
.sidebar-link div{
    font-size: 10px;
}
